.DS_Store
bin/*
gen/*
*.class
*.apk
*.jar
*.dex
.hg/*
.hgignore
.svn
.project
.settings
.idea
*.ap_
local.properties
*.swp
*.lock
profile
# NB: NIB/XIB files still exist even on Storyboard projects, so we want this...
*~.nib
# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "DerivedData"
DerivedData/
# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"
build/

